*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
#convoDisplayArea{
    background-color: aqua;
}
#userInputForm fieldset{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
margin: auto;
    width:90%;
    button{
        height: 50px;
    }

    textarea{
        padding:1em;
        height: auto;
        min-height: 8em;
    }
}