* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}
body {
  width: 90%;
  margin: auto;
}
h1 {
  text-align: center;
}
#jobNameContainer {
  display: flex;
  flex-direction: column;
  input {
    padding: 0.5em;
  }
}
#convoDisplayArea {
  margin: auto;

  .bubble{
    padding: 1em;
    border-radius: 10px;
  }
  .userInputBubble {
    background-color: hsl(93, 100%, 50%);
  }

  .aiResponseBubble {
    background-color: hsl(180, 100%, 50%);
  }
}
#userInputForm fieldset {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
  /* width:90%; */
  button {
    height: 50px;
  }

  textarea {
    padding: 1em;
    height: auto;
    min-height: 8em;
  }
}
